nav {
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #333; /* Link text color */
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #ddd; /* Link background color */
}

nav a:hover {
  background-color: #ccc; /* Hover background color */
}
th {
  padding-right: 30px; /* Adjust the value as needed */
}
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.red-button {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.rectangle {
  width: 200px;
  height: 100px;
  background-color: #edf6ff10;
  color: black;
  text-align: center;
  line-height: 100px; /* Vertical centering of text */
  font-size: 24px;
  margin: 20px auto; /* Center horizontally */
}

.input-container {
  display: flex;
}

.input-container input {
  margin-right: 10px;
  width: 150px;
}
