<nav>
    <a routerLink="/">Main Page</a>
</nav>
<h1>View Customer</h1>

<table>
    <thead> <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
    </tr></thead>
   
    <tbody>

        <tr *ngFor="let customer of customerDetails">

        

            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phoneNumber}}</td>

        </tr>

    </tbody>
  

       
        

  

</table>



